<a href="https://colab.research.google.com/github/prodramp/python-projects/blob/main/Walmart-SuperMarket/Consumer_Profile_Master_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from datetime import datetime
import uuid
import random
import pandas as pd

In [5]:
!pip show faker

Name: Faker
Version: 13.4.0
Summary: Faker is a Python package that generates fake data for you.
Home-page: https://github.com/joke2k/faker
Author: joke2k
Author-email: joke2k@gmail.com
License: MIT License
Location: /usr/local/lib/python3.7/dist-packages
Requires: python-dateutil, typing-extensions
Required-by:

In [3]:
!pip install faker

Collecting faker
  Downloading Faker-13.4.0-py3-none-any.whl (1.5 MB)
     |████████████████████████████████| 1.5 MB 6.7 MB/s
Requirement already satisfied: typing-extensions>=3.10.0.2 in /usr/local/lib/python3.7/dist-packages (from faker) (4.1.1)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: faker
Successfully installed faker-13.4.0

In [4]:
from faker import Faker
faker = Faker()

In [6]:
def get_age_years_month(dob):
  age_days = (datetime.now().date() - dob)
  age_days = age_days.days
  age_years = int(age_days/365)
  age_months = int((age_days%365)/30)
  return age_years, age_months

In [7]:
def create_job_info():
  job = faker.job()
  company = faker.company()
  address = faker.address()
  job_data = {'job_name': job, 'job_company': company, 'job_address': address}
  return job_data

In [10]:
def create_income_group():
  income_groups = [40000, 80000, 120000, 160000, 200000, 240000, 270000, 300000]
  income_choice = random.choice(income_groups)
  return income_choice

In [11]:
def create_credit_card_info():
  card_types = ['amex', 'diners', 'discover', 'jcb', 'jcb15', 'jcb16', 'maestro', 'mastercard', 'visa', 'visa13', 'visa16', 'visa19']
  card_choice = random.choice(card_types)
  card_provider = faker.credit_card_provider(card_choice)
  credit_card_number = faker.credit_card_number(card_choice)
  credit_card_security_code = faker.credit_card_security_code(card_choice)
  credit_card_expire = faker.credit_card_expire()
  cc_data = {'card_choice': card_choice, 'card_provider': card_provider, 'credit_card_number': credit_card_number, 
             'credit_card_security_code': credit_card_security_code, 'credit_card_expire': credit_card_expire}
  return cc_data

In [13]:
def kid_profile(profile_type, family_name, family_id, mom_age_years):
  faimly_data = None
  profile_uuid = str(uuid.uuid4())
  if profile_type in ['m', 'M']:    
    first_name = faker.first_name_male()
  else:
    first_name = faker.first_name_female()
  dob = faker.date_of_birth(maximum_age=(mom_age_years - 18), minimum_age=1,)
  phone_number = faker.phone_number()
  ssn = faker.ssn()
  faimly_data = {'profile_uuid': profile_uuid, 'family_id': family_id, 'family_name': family_name, 'first_name': first_name, 
                  'dob': dob, 'ssn': ssn, 'marital_status': 'single'}
  return faimly_data

In [14]:
def add_kids_to_family(family_name, family_id, mom_dob):
  kids_group = random.randint(0, 3)
  all_kids = []
  mom_age_years, mom_age_months = get_age_years_month(mom_dob)
  if kids_group > 0:
    for each_kid in range(kids_group):
      is_male_kid = faker.boolean() # if true male kid of female kid
      if is_male_kid == 0: 
        kid_data = kid_profile('m', family_name, family_id, mom_age_years) # male
      else:
        kid_data = kid_profile('f', family_name, family_id, mom_age_years) # female
      all_kids.append(kid_data)
  return all_kids

In [18]:
def add_user_family(family_name, family_id, age_years):
  family_groups = ['single', 'married']
  family_choice = random.choice(family_groups)
  faimly_data = None  
  if family_choice == 'married':
    profile_uuid = str(uuid.uuid4())
    first_name = faker.first_name_female()
    dob = faker.date_of_birth(maximum_age=age_years + 10, minimum_age=21)
    phone_number = faker.phone_number()
    ssn = faker.ssn()
    faimly_data = {'profile_uuid': profile_uuid, 'family_id': family_id, 'family_name': family_name, 'first_name': first_name, 'dob': dob, 
                  'phone_number': phone_number, 'ssn': ssn,
                   'marital_status': family_choice
                   }
    return faimly_data

In [17]:
def create_user_profile(profile_type):
  profile_uuid = str(uuid.uuid4())
  family_id = faker.lexify(text='??????????') # Family ID
  family_name = faker.last_name()
  if profile_type in ['m', 'M']:    
    first_name = faker.first_name_male()
  else:
    first_name = faker.first_name_female()
  dob = faker.date_of_birth(maximum_age=80, minimum_age=21)
  age_years, age_months = get_age_years_month(dob)
  phone_number = faker.phone_number()
  ssn = faker.ssn()
  family_data = {'profile_uuid': profile_uuid, 'family_id': family_id, 'family_name': family_name, 'first_name': first_name, 'dob': dob, 
                 'phone_number': phone_number, 'ssn': ssn}

  # Adding Income Group
  income_group = create_income_group()
  family_data['income_group'] = income_group
  # Adding Job Info
  job_info = create_job_info()
  family_data.update(job_info)
  # Adding Credit Card Info
  cc_info = create_credit_card_info()
  family_data.update(cc_info)
  ## Adding User Family
  user_family_data = add_user_family(family_name, family_id, age_years)
  if user_family_data is not None:
    family_data['marital_status'] = 'married'
  else:
    family_data['marital_status'] = 'single'
  # Adding Kids
  kids_list = []
  if age_years >= 25 and user_family_data is not None:
    kids_list = add_kids_to_family(family_name, family_id, user_family_data['dob'])
  return family_data, user_family_data, kids_list

In [46]:
family_data, user_family_data, kids_list = create_user_profile('M')

In [47]:
print(family_data)
print(user_family_data)
print(kids_list)
print(len(kids_list))

{'profile_uuid': '3e7be24a-5757-4cf4-9970-9e7df7b165d9', 'family_id': 'NEzsWzoqAg', 'family_name': 'Wells', 'first_name': 'Derek', 'dob': datetime.date(1987, 1, 6), 'phone_number': '728-203-3522x3015', 'ssn': '285-08-4336', 'income_group': 240000, 'job_name': 'Electrical engineer', 'job_company': 'Barrett LLC', 'job_address': '12877 Mark Haven\nShawborough, IA 60272', 'card_choice': 'visa13', 'card_provider': 'VISA 13 digit', 'credit_card_number': '4174127767431', 'credit_card_security_code': '534', 'credit_card_expire': '09/24', 'marital_status': 'married'}
{'profile_uuid': '7d8ce6d0-eb97-463a-9036-8423e1bd0c91', 'family_id': 'NEzsWzoqAg', 'family_name': 'Wells', 'first_name': 'Jennifer', 'dob': datetime.date(1999, 5, 14), 'phone_number': '822.325.4461x737', 'ssn': '101-13-2638', 'marital_status': 'married'}
[{'profile_uuid': '20d50b6c-2bbc-419e-a106-e35f8dfb07e0', 'family_id': 'NEzsWzoqAg', 'family_name': 'Wells', 'first_name': 'Harold', 'dob': datetime.date(2018, 11, 28), 'ssn': '459-21-7229', 'marital_status': 'single'}, {'profile_uuid': '17d4be7b-ac54-4cd8-ab80-9a19e8936893', 'family_id': 'NEzsWzoqAg', 'family_name': 'Wells', 'first_name': 'Russell', 'dob': datetime.date(2020, 9, 27), 'ssn': '089-15-1849', 'marital_status': 'single'}]
2

# **Vehicle Data**

In [48]:
!pip install faker_vehicle

Collecting faker_vehicle
  Downloading faker_vehicle-0.2.0-py2.py3-none-any.whl (162 kB)
     |████████████████████████████████| 162 kB 8.7 MB/s
Requirement already satisfied: faker in /usr/local/lib/python3.7/dist-packages (from faker_vehicle) (13.4.0)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from faker->faker_vehicle) (2.8.2)
Requirement already satisfied: typing-extensions>=3.10.0.2 in /usr/local/lib/python3.7/dist-packages (from faker->faker_vehicle) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->faker->faker_vehicle) (1.15.0)
Installing collected packages: faker-vehicle
Successfully installed faker-vehicle-0.2.0

In [49]:
from faker_vehicle import VehicleProvider
faker.add_provider(VehicleProvider)

In [51]:
def create_vehicle_data(family_id):
  vehicle_object = faker.vehicle_object()
  vehicle_license = faker.pystr_format(string_format="???? ###")
  vehicle_vin = faker.pystr_format(string_format="#??###??????######")
  vehicle_data = {'vehicle_category': vehicle_object['Category'], 'vehicle_make': vehicle_object['Make'], 
                  'vehicle_model': vehicle_object['Model'], 'vehicle_year': vehicle_object['Year'], 
                  'vehicle_license': vehicle_license, 'vehicle_vin': vehicle_vin,
                  'family_id': family_id}
  return vehicle_data

In [54]:
vehicle_data = create_vehicle_data('xx')
vehicle_data

{'family_id': 'xx',
 'vehicle_category': 'Pickup',
 'vehicle_license': 'ZykI 377',
 'vehicle_make': 'Ford',
 'vehicle_model': 'F450 Super Duty Crew Cab',
 'vehicle_vin': '0cZ789qTJQlc848191',
 'vehicle_year': 2010}

# **Address or Location Data**

In [81]:
df = pd.read_csv('wm_stores_single_precision.csv')

In [82]:
df

      Unnamed: 0          city state  zip_code  latitude  longitude
0              0     Anchorage    AK     99503      61.2     -149.9
1              1     Anchorage    AK     99504      61.2     -149.7
2              2     Anchorage    AK     99515      61.1     -149.9
3              3   Eagle River    AK     99577      61.3     -149.5
4              4         Kenai    AK     99611      60.6     -151.2
...          ...           ...   ...       ...       ...        ...
4648        4648        Casper    WY     82609      42.9     -106.3
4649        4649      Gillette    WY     82718      44.3     -105.5
4650        4650      Sheridan    WY     82801      44.8     -106.9
4651        4651  Rock Springs    WY     82901      41.6     -109.3
4652        4652      Evanston    WY     82930      41.3     -111.0

[4653 rows x 6 columns]

In [83]:
df = df[['state', 'city', 'zip_code', 'latitude', 'longitude']]

In [84]:
df

     state          city  zip_code  latitude  longitude
0       AK     Anchorage     99503      61.2     -149.9
1       AK     Anchorage     99504      61.2     -149.7
2       AK     Anchorage     99515      61.1     -149.9
3       AK   Eagle River     99577      61.3     -149.5
4       AK         Kenai     99611      60.6     -151.2
...    ...           ...       ...       ...        ...
4648    WY        Casper     82609      42.9     -106.3
4649    WY      Gillette     82718      44.3     -105.5
4650    WY      Sheridan     82801      44.8     -106.9
4651    WY  Rock Springs     82901      41.6     -109.3
4652    WY      Evanston     82930      41.3     -111.0

[4653 rows x 5 columns]

In [85]:
def get_walmart_loc_by_state(state):  
  if state is not None:
    df_local = df[df['state'] == state]
    if len(df_local) > 0:
      local_location = df_local.sample(1).to_dict(orient='records')
      if local_location is not None and len(local_location) > 0:
        return local_location[0]
  return None

In [88]:
store = get_walmart_loc_by_state('WA')

In [89]:
store

{'city': 'Marysville',
 'latitude': 48.1,
 'longitude': -122.1,
 'state': 'WA',
 'zip_code': 98270}

In [92]:
def generate_user_location(family_id, state):
  street_address = faker.street_address()
  selected_location = get_walmart_loc_by_state(state)
  state = selected_location['state']
  city = selected_location['city']
  zip_code = selected_location['zip_code']
  latitude = selected_location['latitude']
  longitude = selected_location['longitude']
  #print("latitude : " + str(latitude) + ' longitude: ' + str(longitude))
  random_6_digits_float = round(random.uniform(0.01, 0.09), 6)
  if latitude > 0:
    latitude = latitude + random_6_digits_float
  else:
    latitude = latitude - random_6_digits_float
  latitude = round(latitude,6)
  random_6_digits_float = round(random.uniform(0.01, 0.09), 6)
  if longitude > 0:
    longitude = longitude + random_6_digits_float
  else:
    longitude = longitude - random_6_digits_float
  longitude = round(longitude,6)
  #print("latitude : " + str(latitude) + ' longitude: ' + str(longitude))
  location_data = {'street_address': street_address, 'city': city, 'state': state, 'zip_code': zip_code, 
                   'longitude': longitude, 'latitude': latitude, 'family_id': family_id}
  return location_data

# **Combining User Profile and family with location data**

In [93]:
user_profile, user_family_data, kids_list = create_user_profile('m')
location_data = generate_user_location(user_profile['family_id'], 'CA')
vehicle_data = create_vehicle_data(user_profile['family_id'])

In [96]:
print(user_profile)
print(user_family_data)
print(kids_list)
print(location_data)
print(vehicle_data)

{'profile_uuid': '0fb3146f-0129-4536-8ba1-0427aac883ab', 'family_id': 'FOzBKkYFBr', 'family_name': 'Sanford', 'first_name': 'Jeffery', 'dob': datetime.date(1996, 8, 4), 'phone_number': '893-122-5344', 'ssn': '347-19-1812', 'income_group': 80000, 'job_name': 'Broadcast engineer', 'job_company': 'Taylor Ltd', 'job_address': '513 Roman Glens Suite 077\nPamelaville, ME 77039', 'card_choice': 'jcb16', 'card_provider': 'JCB 16 digit', 'credit_card_number': '3526339754376011', 'credit_card_security_code': '135', 'credit_card_expire': '03/26', 'marital_status': 'single'}
None
[]
{'street_address': '02479 Davis Stream', 'city': 'Murrieta', 'state': 'CA', 'zip_code': 92562, 'longitude': -117.223048, 'latitude': 33.658672, 'family_id': 'FOzBKkYFBr'}
{'vehicle_category': 'Sedan', 'vehicle_make': 'Nissan', 'vehicle_model': 'Sentra', 'vehicle_year': 2015, 'vehicle_license': 'PYKk 156', 'vehicle_vin': '9ti164NncUSn118775', 'family_id': 'FOzBKkYFBr'}

# **Creating Record(s) into DataFrame**

In [98]:
all_states = df['state'].unique().tolist()
print(len(all_states))
print(all_states)

52
['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']

In [105]:
user_profile_records = []
user_address_records = []
user_vehicle_records = []
total_users = 0
record_count = 100
for state in all_states: # ['CA', 'WA', 'OR']:
  print('Generating ' + str(record_count) + ' records for state - ' + state)
  for i in range(record_count):
    user_profile, user_family_data, kids_list = create_user_profile('m')
    user_profile_records.append(user_profile)
    total_users = total_users + 1
    if user_family_data is not None:
      user_profile_records.append(user_family_data)
      total_users = total_users + 1
    if len(kids_list) > 0:
      for kid in kids_list:
        total_users = total_users + 1
        user_profile_records.append(kid)
    location_data = generate_user_location(user_profile['family_id'], state)
    user_address_records.append(location_data)
    user_vehicle_records.append(create_vehicle_data(user_profile['family_id']))
    if user_profile['marital_status'] == 'married':
      user_vehicle_records.append(create_vehicle_data(user_profile['family_id']))

print("Total Profiles: ", total_users)

Generating 100 records for state - AK
Generating 100 records for state - AL
Generating 100 records for state - AR
Generating 100 records for state - AZ
Generating 100 records for state - CA
Generating 100 records for state - CO
Generating 100 records for state - CT
Generating 100 records for state - DC
Generating 100 records for state - DE
Generating 100 records for state - FL
Generating 100 records for state - GA
Generating 100 records for state - HI
Generating 100 records for state - IA
Generating 100 records for state - ID
Generating 100 records for state - IL
Generating 100 records for state - IN
Generating 100 records for state - KS
Generating 100 records for state - KY
Generating 100 records for state - LA
Generating 100 records for state - MA
Generating 100 records for state - MD
Generating 100 records for state - ME
Generating 100 records for state - MI
Generating 100 records for state - MN
Generating 100 records for state - MO
Generating 100 records for state - MS
Generating 100 records for state - MT
Generating 100 records for state - NC
Generating 100 records for state - ND
Generating 100 records for state - NE
Generating 100 records for state - NH
Generating 100 records for state - NJ
Generating 100 records for state - NM
Generating 100 records for state - NV
Generating 100 records for state - NY
Generating 100 records for state - OH
Generating 100 records for state - OK
Generating 100 records for state - OR
Generating 100 records for state - PA
Generating 100 records for state - PR
Generating 100 records for state - RI
Generating 100 records for state - SC
Generating 100 records for state - SD
Generating 100 records for state - TN
Generating 100 records for state - TX
Generating 100 records for state - UT
Generating 100 records for state - VA
Generating 100 records for state - VT
Generating 100 records for state - WA
Generating 100 records for state - WI
Generating 100 records for state - WV
Generating 100 records for state - WY
Total Profiles:  11743

In [106]:
user_df = pd.DataFrame(user_profile_records)
address_df = pd.DataFrame(user_address_records)
vehicle_df = pd.DataFrame(user_vehicle_records)

In [107]:
user_df

,profile_uuid,family_id,family_name,first_name,dob,phone_number,ssn,income_group,job_name,job_company,job_address,card_choice,card_provider,credit_card_number,credit_card_security_code,credit_card_expire,marital_status
0,19385a8a-db73-4f71-8cb6-422711a9c3bf,zgwwktzKhQ,Edwards,Travis,1975-01-15,(585)548-5004x477,567-98-0784,200000.0,Industrial/product designer,Clark-Campbell,"9725 Nicole Roads Apt. 013\nAdamschester, VA 9...",jcb16,JCB 16 digit,3503117174454544,133,04/26,single
1,05fe5fef-dd5a-4951-8185-0d7db4a4b4ac,pLWALrqnyh,Mathis,John,1983-04-24,498-754-7681x3244,157-40-4136,200000.0,Town planner,Hardy-Wang,"183 Carson Parks\nWest Lindsey, DC 15367",jcb16,JCB 16 digit,3598524089983952,615,12/22,married
2,3ea5a05c-6ad9-4686-8692-62139e01ce4a,pLWALrqnyh,Mathis,Julie,1998-07-31,001-445-178-9221x52893,297-33-1229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,married
3,81d8bebe-5d32-4d16-af44-925833441f1f,pLWALrqnyh,Mathis,Jeremy,2021-03-27,NaN,216-86-0422,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,single
4,d5a77cb4-1fc9-4b82-ba7c-4f5049e7a2c9,pLWALrqnyh,Mathis,Larry,2020-02-16,NaN,570-40-1247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,single
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11738,4c1b6f85-1e4c-4cf2-94f1-1f4919d3f3d1,ZWbzUlseJz,Griffin,Brian,1947-10-26,(970)470-4953x5064,067-87-4277,80000.0,Animal nutritionist,Norton-Valdez,"5648 Pamela Unions\nSouth Jamesmouth, PA 77930",visa,VISA 16 digit,4164903162032733,272,01/27,married
11739,f2ec5c3a-f46e-478f-97f9-7ff1aea490b2,ZWbzUlseJz,Griffin,Lauren,1962-02-09,001-393-055-2091x964,569-85-5851,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,married
11740,727e1e03-e3e5-489f-bd6d-72d63a32e1a3,ZWbzUlseJz,Griffin,Rachel,1982-07-28,NaN,149-29-4156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,single
11741,1f59c51a-8f1e-4246-9ba0-e49ecbd81713,ZWbzUlseJz,Griffin,Meredith,1985-09-19,NaN,493-63-1904,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,single
11742,db277fb1-3185-421e-8a36-0f03f819e4c5,ZWbzUlseJz,Griffin,Jessica,2012-08-05,NaN,799-42-0302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,single

In [108]:
address_df

,street_address,city,state,zip_code,longitude,latitude,family_id
0,3842 Foster Extension Suite 802,Kodiak,AK,99615,-152.435656,57.855664,zgwwktzKhQ
1,44321 Walker Keys Apt. 864,Anchorage,AK,99515,-149.922917,61.137293,pLWALrqnyh
2,2986 Bennett Islands,Fairbanks,AK,99701,-147.729893,64.964319,FOftMIWqih
3,87184 Heather Route,Anchorage,AK,99504,-149.787056,61.214061,HqRjqVkkKM
4,106 Garcia Landing Apt. 252,Fairbanks,AK,99701,-147.773499,64.971583,VhqYNluvOP
...,...,...,...,...,...,...,...
5195,93514 Tony Heights Apt. 428,Laramie,WY,82070,-105.546594,41.370194,BmmGXjZtRO
5196,75260 Sierra Locks,Rawlins,WY,82301,-107.239326,41.876562,ZLsJOksHPf
5197,965 Jeff Tunnel,Riverton,WY,82501,-108.412675,43.018480,jJzbAKZtct
5198,45003 Bianca Estate Apt. 574,Evanston,WY,82930,-111.014650,41.381744,vazbyRZeil
5199,8412 Huynh Falls,Gillette,WY,82718,-105.526284,44.346204,ZWbzUlseJz

In [109]:
vehicle_df

,vehicle_category,vehicle_make,vehicle_model,vehicle_year,vehicle_license,vehicle_vin,family_id
0,Pickup,MAZDA,B-Series Cab Plus,1993,GnkY 480,5sw794vSUBJG763650,zgwwktzKhQ
1,"Hatchback, Convertible",Geo,Metro,1992,doVO 250,0vw943ccgnNh501247,pLWALrqnyh
2,SUV,Jeep,Cherokee,1996,KjCT 505,6Qa426rHVTAP831382,pLWALrqnyh
3,Sedan,Audi,A6,2017,ahwh 895,4qa317sVhbFX759431,FOftMIWqih
4,Sedan,Buick,LaCrosse,2010,IeaY 802,0Ly677XtnoHe398659,HqRjqVkkKM
...,...,...,...,...,...,...,...
7880,Pickup,Toyota,Tacoma Xtracab,2000,eImB 072,3Pg972BDjqxU101079,jJzbAKZtct
7881,Sedan,Hyundai,Sonata,2005,GmuN 041,3mT897NsRVEZ009568,vazbyRZeil
7882,SUV,MAZDA,CX-9,2012,jivv 966,6GX525ImTEpc214974,vazbyRZeil
7883,Pickup,Ram,3500 Crew Cab,2013,KCul 556,1Nc903tXWgyn785305,ZWbzUlseJz
7884,SUV,Jeep,Grand Cherokee,1994,Gqwy 670,3fW317PxWrOX343971,ZWbzUlseJz